Package: com.yourname.zziosversionfilter
Name: ZZIOSVersionFilter
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: 转转搜索列表双指长按筛选指定 iOS 版本号
Maintainer: YourName
Author: YourName
Section: Tweaks
